@model RouteAddViewModel
@{

}

<style>
    .ui-autocomplete.ui-front {
        z-index: 2147483647 !important;
    }
</style>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="container">
    <form method="post" asp-controller="Route" asp-action="NewRoute" id="form-add-route">
        <input type="number" hidden asp-for="CheckCorrectRoute" class="form-control" value="1" />
        <label class="dynamic-text">Thông tin hành trình</label>
        <div class="form-row">
            <div class="col-3 form-group">
                <label>Chọn xe</label>
                <input type="text" hidden asp-for="VehicleId" class="form-control" />
                <input type="text" class="form-control" id="vehicle_create" name="xe" placeholder="Chọn xe">
            </div>
            <div class="col-9 form-group">
                <label>Tuyến</label>
                <input type="text" id="Route" readonly class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-3 form-group">
                <label>Đi đúng tuyến/ ngược tuyến</label>
                <select class="form-control order">
                    <option value="1">Đúng tuyến</option>
                    <option value="2">Ngược tuyến</option>
                </select>
            </div>
            <div class="col-3 form-group">
                <label asp-for="Price"></label>
                <input type="text" class="form-control" asp-for="Price" placeholder="Giá vé">
            </div>
            <div class="col-3 form-group">
                <label>Giờ đi</label>
                <div class="input-group date" id="ThoiGianKhoiHanh_Create" data-target-input="nearest">
                    <div class="input-group" data-target="#ThoiGianKhoiHanh_Create" data-toggle="datetimepicker">
                        <input type="text" id="StartTime" name="StartTime" placeholder="Thời gian đến" class="form-control datetimepicker-input" data-target="#ThoiGianKhoiHanh_Create" />
                        <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                    </div>
                    <span id="validate_GioDi" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 form-group">
                <label for="ThoiGianKetThuc">Giờ đến</label>
                <div class="input-group date" id="ThoiGianKetThuc_Create" data-target-input="nearest">
                    <div class="input-group" data-target="#ThoiGianKetThuc_Create" data-toggle="datetimepicker">
                        <input type="text" id="EndTime" name="EndTime" placeholder="Thời gian đến" class="form-control datetimepicker-input" data-target="#ThoiGianKetThuc_Create" />
                        <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                    </div>
                    <span id="validate_GioDen" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div id="schedules" class="form-group">
            <label class="dynamic-text">Chọn ngày xe chạy</label>
            <br />
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="1"> Thứ 2
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="2"> Thứ 3
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="3"> Thứ 4
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="4"> Thứ 5
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="5"> Thứ 6
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="6"> Thứ 7
                </label>
                <label class="btn btn-secondary">
                    <input type="checkbox" name="Day" value="0"> Chủ nhật
                </label>
            </div>
        </div>

        <div id="route-details">

        </div>

        <input type="submit" class="btn btn-primary" id="btn-submit-add-vehicle" value="Thêm Hành Trình Và Thông tin Hành trình" />
    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        function mapDataVehicleToRoute(data) {
            console.log(data);
            $("#Route").val(data.vehicles.startLocation.address + ' - ' + data.vehicles.endLocation.address);
            let container = $('#route-details');
            var labelhtml = `<label class="dynamic-text">Danh sách trạm dừng</label><br/>`;
            container.html('');
            container.append(labelhtml);
            data.listStations.forEach((item, index) => {
                let html = `
                    <div class="card" style="margin-bottom: 8px;">
                        <div class="card-body">
                            <input type="hidden" name="StationId" value="${item._id}" />
                            <input type="hidden" name="OrderStation" value="${index+=1}" />
                            <h4 style="font-weight: bold; margin-bottom: 16px;">${item.stationStop.address}</h4>
                            <div class="row">
                                <div class="col form-group">
                                    <label>Thời gian đến trạm dừng</label>
                                    <input type="number" name="StationTime" class="form-control station-time" ${index == 0 ? 'readonly' : ''} value="${index == 0 ? '0' : ''}" />
                                </div>
                                <div class="col form-group">
                                    <label>Quản đường từ trạm trước đến trạm này</label>
                                    <input type="number" name="StationDistance" class="form-control distance" ${index == 0 ? 'readonly' : ''} value="${index == 0 ? '0' : ''}" />
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                container.append(html);
            });
        }

        var getDataVehicleAndStation = function (id) {
            let order = $(".order").children("option:selected").val();
            $.ajax({
                url: "/Route/GetDataVehicleAndListStation",
                data: { vehicleId: id , order : order},
                type: "GET",
                contentType: "json",
                success: function (data) {
                    mapDataVehicleToRoute(data);
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log(response)
                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log(response);
                }
            });
        };


        var getSuggestionVehicle = function () {
            $.ajax({
                url: "/Route/GetListVehicle",
                data: {},
                type: "GET",
                contentType: "json",
                success: function (data) {
                    console.log(data)
                    items = [];
                    bienso = [];
                    $.each(data, function (i, item) {
                        var id = item._id;
                        var xe = item.licensePlates;
                        bienso.push({
                            id: id,
                            name: xe
                        });
                    });
                    $("#vehicle_create").autocomplete({
                        source: bienso.map(r => r.name),
                        select: function (event, ui) {
                            var selection = ui.item.label;
                            $("#vehicle_create").val(selection);
                            $("#VehicleId").val(
                                bienso[bienso.map(r => r.name).indexOf(selection)].id
                            );
                            getDataVehicleAndStation(bienso[bienso.map(r => r.name).indexOf(selection)].id);
                            return false;
                        }
                    }).on('focus', () => { $('.ui-autocomplete').addClass('ui-front') }).on('blur', () => { $('.ui-autocomplete').removeClass('ui-front') });
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log(response)
                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log(response);
                }
            });
        }();

        $(document).ready(function () {
            $('#ThoiGianKhoiHanh_Create').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });
            $('#ThoiGianKetThuc_Create').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });


            $(".order").change(function () {
                $("#CheckCorrectRoute").val($(".order").children("option:selected").val());
                getDataVehicleAndStation($("#VehicleId").val());
            });
        });
    </script>
}