
@{
    ViewData["Title"] = "Index";
    var listAgent = (List<AgentViewModel>)ViewBag.Agent;
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Thống kê</h2>
                <div class="table-toolbar">
                    <div style="padding-bottom: 4rem;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col">
                                        <select id="AgentId" class="form-control">
                                            @foreach (var item in listAgent)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input id="fromdate" name="fromdate" placeholder="From date" class="form-control" style="width: auto; display: inline-block" />
                                    </div>
                                    <div class="col">
                                        <input id="todate" name="todate" placeholder="To date" class="form-control" style="width: auto; display: inline-block" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button id="thongke" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Thống kê
                                </button>
                            </div>
                        </div>
                        <canvas id="chartThongKe"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#fromdate").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $("#todate").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $("#thongke").click(function (e) {
                $.ajax({
                    url: "/Admin/DashBoard/ThongKe",
                    data: {
                        fromdate: $("#fromdate").val(),
                        todate: $("#todate").val(),
                        adminId: $("#AgentId").children("option:selected").val()
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (res) {
                        
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
        });
       
    </script>
}