
@{
    ViewData["Title"] = "DashBoard";
    ViewData["Page"] = "DashBoard";
    var listAgent = (List<AgentViewModel>)ViewBag.Agent;
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Thống kê</h2>
                <div class="table-toolbar">
                    <div style="padding-bottom: 4rem;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col">
                                        <select id="AgentId" class="form-control">
                                            @foreach (var item in listAgent)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input id="fromdate" name="fromdate" placeholder="From date" class="form-control" style="width: auto; display: inline-block" />
                                    </div>
                                    <div class="col">
                                        <input id="todate" name="todate" placeholder="To date" class="form-control" style="width: auto; display: inline-block" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button id="thongke" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Thống kê
                                </button>
                            </div>
                        </div>
                        <canvas id="chartThongKe"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#fromdate").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $("#todate").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $("#thongke").click(function (e) {
                $.ajax({
                    url: "/DashBoard/ThongKe",
                    data: {
                        fromdate: $("#fromdate").val(),
                        todate: $("#todate").val(),
                        agentId: $("#AgentId").children("option:selected").val()
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (res) {
                        let labels = res.map(e => e.date);
                        let completeTicketData = res.map(e => e.completeTickets);
                        let cancelTicketData = res.map(e => e.cancelTickets);
                        let revenueData = res.map(e => e.revenue);

                        new Chart('chartThongKe', {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [
                                    {
                                        label: "Số lượng vé hoàn thành",
                                        data: completeTicketData,
                                        yAxisID: 'y-axis-1',
                                        backgroundColor: 'rgb(255, 99, 132)'
                                    },
                                    {
                                        label: "Số lượng vé hủy",
                                        data: cancelTicketData,
                                        yAxisID: 'y-axis-1',
                                        backgroundColor: 'rgb(54, 162, 235)'
                                    },
                                    {
                                        label: "Doanh thu",
                                        type: 'line',
                                        yAxisID: 'y-axis-2',
                                        data: revenueData,
                                        borderColor: 'rgb(54, 14, 205)'
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                title: {
                                    display: true,
                                    text: 'Biểu đồ thống kê - Ticket Booking'
                                },
                                tooltips: {
                                    mode: 'index',
                                    intersect: true
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'left',
                                            id: 'y-axis-1',
                                            ticks: {
                                                min: 0
                                            }
                                        },
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'right',
                                            id: 'y-axis-2',
                                            gridLines: {
                                                drawOnChartArea: false
                                            }
                                        }
                                    ],
                                }
                            }
                        });
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
        });
       
    </script>
}