@model List<AgentViewModel>

<div class="container">
    @if (Context.Request.Cookies["UserName"] == "root")
    {
        <div class="row">
            <div class="col-6">
                <label>
                    <input class="mode-select-agent" type="radio" name="agent-mode" value="1" checked /> Chọn nhà xe có sẵn
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input type="radio" name="agent-mode" value="2" /> Chi định nhà xe mới
                </label>
            </div>
        </div>
    }
    else
    {
        <div hidden class="row">
            <div class="col-6">
                <label>
                    <input class="mode-select-agent" type="radio" name="agent-mode" value="1" checked /> Chọn nhà xe có sẵn
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input type="radio" name="agent-mode" value="2" /> Chi định nhà xe mới
                </label>
            </div>
        </div>
    }
    <div id="existing-agent">
        <table class="table table-hover">
            <thead style="display: block;">
                <tr>
                    <th>Chọn</th>
                    <th style="width:145px;">Tên nhà xe</th>
                    <th>Phí hủy</th>
                    @if (Context.Request.Cookies["UserName"] == "root")
                    {
                        <th>Đặt làm root</th>
                    }
                </tr>
            </thead>
            <tbody style="display: block; height: 300px; overflow-y: auto; overflow-x: hidden;">
                @foreach (var agent in Model)
                {
                    <tr data-id="@agent.Id">
                        <td style="width: 65px;">
                            <input name="is-selected" type="checkbox" />
                        </td>
                        <td style="width: 150px;" class="agent-name">@Html.DisplayFor(m => agent.Name)</td>
                        <td style="width: 100px;">@Html.DisplayFor(m => agent.CancelFee)</td>
                        @if (Context.Request.Cookies["UserName"] == "root")
                        {
                            <td>
                                <input class="is-root" type="checkbox" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="create-new-agent" style="display: none;">
        <div class="hidden" id="region-them-nha-xe">
            <partial name="Partials/_SpecifyAgent" model="new AgentForAdminViewModel()" />
        </div>
    </div>
</div>
<script>
    $("input[name='agent-mode']").change(e => {
        $("input[name='agent-mode']").removeClass("mode-select-agent");
        let mode = $(e.target).val();
        console.log(mode);
        if (mode == 1) {
            $(e.target).addClass("mode-select-agent");
            $("#create-new-agent").hide();
            $("#existing-agent").show();
        } else {
            $(e.target).addClass("mode-select-agent");
            $("#existing-agent").hide();
            $("#create-new-agent").show();
        }
    });
</script>